<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="productos"><b>Productos</b></label>
        <input id="productos" class="form-control" type="text" name="productos">
    </div>

    <div class="form-group">
        <label for="url"><b>Url</b></label>
        <input id="url" class="form-control" type="text" name="url">
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>